.App {
  text-align: center;
  height: 100%;

  .title {
    color: coral;
  }

  .measured-height {
    position: fixed;
    top: 150px;
    right: 20px;
    z-index: 10;
    color: white;
  }

  .shiulon {
    height: 100%;

    .questions-container {
      padding: 0 20px;
      text-align: left;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background-color: #9bb3cc;

      .question-container {
        padding: 60px 0;
      }
    }
  }
}
