.App {
  text-align: center;
  height: 100%;

  .title {
    color: coral;
  }

  .shiulon {
    height: 100%;

    .questions-container {
      height: 100%;
      padding: 0 20px;
      text-align: left;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background-color: #9bb3cc;

      .question-container {
        padding: 60px 0;
      }
    }
  }
}
